<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form [formGroup]="orderForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      {{orderForm.valid}} {{orderForm.value | json}}

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Dados Pessoais:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <input-container errorMessage="Campo obrigatório e no mínimo com 5 caracteres" label="Nome">
            <input type="text" class="form-control" formControlName="name" placeholder="Nome" autocomplete="off">
          </input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <input-container errorMessage="Confirmação do E-mail inválido!" label="email">
            <input type="text" class="form-control" formControlName="email" placeholder="E-mail">
          </input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <input-container errorMessage="Confirmação do E-mail inválido!" label="Confirmação do E-mail">
            <input type="text" class="form-control" formControlName="emailConfirmation" placeholder="Confirmar E-mail">
          </input-container>
          <span class="help-block has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')"><i class="fa fa-remove"></i> E-mail de confirmação não confere!</span>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <input-container errorMessage="Campo obrigatório e no mínimo com 5 caracteres" label="Endereço">
            <input type="text" class="form-control" formControlName="address" placeholder="Endereço" autocomplete="off">
          </input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <input-container errorMessage="Campo obrigatório" label="Número">
            <input type="number" class="form-control" formControlName="number" placeholder="Número">
          </input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <input-container label="Complemento">
            <input type="text" class="form-control" formControlName="complement" placeholder="Complemento">
          </input-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <div class="col-xs-12 table-responsive">

          <order-items [items]="cartItems()"
                       (increaseQty)="increaseQtd($event)"
                       (decreaseQty)="decreaseQtd($event)"
                       (remove)="removeItem($event)"></order-items>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>
          <radio-payment [payments]="payments" formControlName="paymentOption"></radio-payment>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <delivery-costs [valueItems]="totalItems()" [valueDelivery]="deliveryCost()"></delivery-costs>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button (click)="checkOrder(orderForm.value)" class="btn btn-success pull-right"
                [disabled]="orderForm.invalid || cartItems().length == 0">
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->
