<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form #form="ngForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      {{form.valid}} {{form.value | json}}

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <input-container errorMessage="Campo obrigatório e no mínimo com 5 caracteres" label="Endereço">
            <input type="text" class="form-control" id="address" name="address" ngModel required minlength="5" placeholder="Endereço" autocomplete="off">
          </input-container>
        </div>
        <div class="col-sm-2 col-xs-6">
          <input-container errorMessage="Campo obrigatório" label="Número">
            <input type="number" class="form-control" id="number" name="number" ngModel required placeholder="Número" pattern="^[0-9]*$">
          </input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label sr-only" for="complement"><i class="fa fa-check"></i> Complemento</label>
            <input type="text" class="form-control" id="complement" name="complement" ngModel placeholder="Complemento">
          </div>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <div class="col-xs-12 table-responsive">

          <order-items [items]="cartItems()"
                       (increaseQty)="increaseQtd($event)"
                       (decreaseQty)="decreaseQtd($event)"
                       (remove)="removeItem($event)"></order-items>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>
          <radio-payment [payments]="payments" name="paymentOption" required ngModel></radio-payment>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <delivery-costs [valueItems]="totalItems()" [valueDelivery]="deliveryCost()"></delivery-costs>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button (click)="checkOrder(form.value)" class="btn btn-success pull-right"
                [disabled]="form.invalid || cartItems().length == 0">
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->
